<a href="https://colab.research.google.com/github/JessicaViernes/Jessica-/blob/main/Phyton102021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATE : 10/20/21

name: Jessica Viernes

In [ ]:
def sum(i1, i2, i3):
    result = 0
    for i in range (i1, i2, i3):
        result += i
    return result

def main():
    print("Sum from 1 to 20", sum(1, 21,1))
    print("Sum from 25 to 56", sum(26, 57,2))
    print("Sum from 60 to 72", sum(60, 74, 3))

main() # Call the main function

Sum from 1 to 20 210
Sum from 25 to 56 656
Sum from 60 to 72 330

In [ ]:
def swap(a,p):
  a,p = a,p
  return (a,p)

if __name__ =='__main__':
  a = 15
  o = 20
  print(' a = %d,o = %d' % (a,o))
  a,o = swap (a, o)
  print('a = %d,o = %d' % (a,o))

 a = 15,o = 20
a = 15,o = 20

In [ ]:
def sort(number1, number2, number3):
        if (number1 < number2) and (number1 < number3):
          if number2 < number3:
                return number1, number2,number3
          else:
                return number1, number2,number3
          if (number2 < number1) and (number2 < number3):
           if number1 < number3:
                 return number2, number1,number3
           else:
                 return number2, number3,number1
          if (number3 < number1) and (number3 < number2):
            if number1 < number2:
                 return number3, number1,number2
          else:
                 return number3, number2,number1

num1, num2, num3 = sort( 20, 40, 75)

print("num1 is", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is 20
num2 is 40
num3 is 75

In [ ]:
#!/usr/bin/phyton
# -*- coding: UTF-8 -*-

def printArea(width = 15, height = 20):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

Use Default Arguments[

In [ ]:
printArea()

width: 15 	height: 20 	area: 300

Use keyword argument

In [ ]:
printArea(width = 15, height = 20)

width: 15 	height: 20 	area: 300

In [ ]:
printArea(height = 20, width = 15)

width: 15 	height: 20 	area: 300

use positional arguments

In [ ]:
printArea(20,15)

width: 20 	height: 15 	area: 300

In [ ]:
printArea(15,20)

width: 15 	height: 20 	area: 300

lambda function

In [ ]:
f1 = lambda x, y, z: x+7*y+14*z
print(f1(7,14,21))

399

In [ ]:
def myfunc(s):
  return s*s

my_list = [4, 8, 12, 16, 20]

print(list(map(lambda x:myfunc(x), my_list)))

[16, 64, 144, 256, 400]